!!!
%html
  %head
    %title
      =title
    %link{:href => "style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{ :href => "http://feeds.feedburner.com/leftlibertarianorg", :rel => "alternate", :title => "LeftLibertarian.org Main Feed", :type => "application/atom+xml" }
    %meta{:name => "description", :content => "Left libertarian content from around the web..."}
  %body
    #page
      %h1
        %a{:href => "index.html"}
          %img{:src => "images/logo.png", :alt => "#{title}"}
      #slogan
        Left libertarian views from around the web...
      #survey
        %a{:href => "http://www.surveymonkey.com/s/6W8B67R"} Please help leftlibertarian.org by completing this survey!
      #content
        =content
      #footer
        %ul.nav
          %li
            %a{:href => "about.html"}
              About
          %li
            %a{:href => "leftlibertarianism.html"}
              Left Libertarianism
          %li
            %a{:href => "contact.html"}
              Contact
          %li
            %a{:href => "http://github.com/jeremy6d/leftlibertarian.org/blob/master/todo.markdown"}
              To-do
        All rights belong to the authors of the respective articles and are used with permission whenever possible.
        %br
        = Time.now.strftime "Last updated on %A, %B %d at %I:%M %p EST"
        %br
        - commit = File.read(".git/refs/heads/master")
        = "Last commit: <a href='http://github.com/jeremy6d/leftlibertarian.org/commit/#{commit}'>#{commit}</a>"
        #tagline
          leftlibertarian.org is a
          %a{:href => "http://6thdensity.com"}
            %img{:src => "http://6thdensity.com/6d_logo_tiny.png", :alt => "6th Density LLC"}
          joint
  =tracking_code